* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .baskervville-regular {
    font-family: "Baskervville", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .baskervville-regular-italic {
    font-family: "Baskervville", serif;
    font-weight: 400;
    font-style: italic;
  }
  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  

.logo {
    text-transform: uppercase;
    font-weight: bolder;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 15px 60px;
    position: fixed;
    font-family: Poppins;
    align-items: center;
    background-color: white;
    position: fixed;
    width: 100vw; 
  
}

#nav-links {
    display: flex;
    column-gap: 35px;
    align-items: center;

}

#nav-links h4 {
    font-size: 30px;
    font-weight: bolder;
}

#nav-links h4 span {
    color: #4F86F9;
    
}


#nav-links h4 p {
    font-size: 12px;
    align-items: start;
    margin-top: -8px;
    margin-left: 13px;
    color: grey;
}


nav button {
    background-color: white;
    font-size:  16px;
    padding: 10px 20px;
    height: fit-content;
    border: 1px solid #4d73c7;
    margin-left: 140px;
 
}

#nav-links span:hover {
    color: #4F86F9;
    text-decoration: 2px underline;
    text-underline-offset: 34px;
}

nav button:hover {
    background-color: #4F86F9; 
    color: white;
}


nav p {
   
    font-size: 18px;
}

nav p span {
    color: #4F86F9;
}

#hero {
 background-image: url("../assests/images/hero.jpg"); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    height: 100vh;
    color: white;
  


}

#overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(10, 9, 9, 0.5) 
}

#hero h1 {
    font-size: 60px;
    margin-top: 220px;
    padding-bottom: 20px;   
}

#hero p {
    font-size: 18px;
    word-spacing: 3px;
    line-height: 1.5;
    padding-bottom: 20px; 
}

#hero button {
    font-size: 15px;
    padding: 17px 40px;
    margin-left: 30px;
    border: none;
    background-color: #1f4391;
    color: white;
}

#hero button:hover {
    background-color: #1f4391;

}

#about {
   display: flex; 
   justify-content: center;
   align-items: center;
   position: relative;
   gap: 150px;
   padding: 140px;

}

#about-image {
    width: 500px;
   
}

#about-image img{
    height: 550px;
    border-radius: 90px 0 0 0;

}

#about button {
     position: absolute;
     top: 600px;
     left: 460px;
     padding: 20px;
     font-size: 80px;
     font-weight: bolder;
     width: 200px;
     border: none;
     background-color: #4d73c7;
     color: white;
     line-height: 1.2;
    
}

#about button p{
    font-size: 16px;
    line-height: 1.4;
}


#about-text {
   padding-bottom: 120px;

}
#about #about-text .why{
    font-size: 34px;
    padding-bottom: 30px;
}


#about #about-text .team{
    font-size: 24px;
    line-height: 1.5;
    padding-bottom: 30px;
}


#about #about-text .wine{
    font-size: 18px;
    word-spacing: 10px;
    line-height: 1.6;
    padding-bottom: 20px;
}

#about #about-text .sign {
    font-size: 20px;
    color: #1f2c4d;

}


#about-text .sign span {
    font-size: 17px;
    color: black;
    
}

#about #about-text sign {
    padding-bottom:  30px;
}

#services{
    background-color:#E9E9E9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#services h1 {
        font-size: 40px;
}






